<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/styleinfo.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Web page <%= title %></p>
  </body>
</html>
